body {
    background: #f0f2f5;
    font-family: 'Poppins', sans-serif;
}

.rounded-img {
    width: 100px;
    border-radius: 50%;
}

.main--container {
    max-width: 750px;
    margin: 0 auto;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 40px;
}

.bio {
    margin-bottom: 30px;
}

.bio p {
    line-height: 24px;
}

.name--user {

}

.name--user i {
    font-size: 16px;
    color: #3897f0;
}

.links {
    margin: 0;
    padding: 0;
}

.links li {
    list-style: none;
    margin-bottom: 10px;
}

.links li a {
    color: #000000;
    border: 1px solid;
    width: 100%;
    display: inherit;
    text-align: center;
    text-decoration: none;
    padding: 20px 0px;
    border-radius: 5px;
    transition: all ease .3s;
}

.links li a:hover {
    background-color: #fff;
    border: 1px solid #777;
}

.links li a i {
    margin-right: 10px;
}


.credits {
    margin-top: 50px;
}

.credits p {
    color: #777777;
}